.cabecalho{
    background-color: rgb(11, 104, 15); 
    color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
}
.imagem-logo{width:80px ;}

.main{
   background-color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: brown;

}
.imagem-main{
    width: 370px;
}
     